* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #222226;
    color: #f3f5e5;
    max-width: 1000px;
}

h1 {
    color: #88de32;
}

h2 {
    color: #88de32;
}

h3 {
    color: #88de32;
}

table {
    border: 1px dashed #f3f5e5;
    text-align: center;
}

th {
    border: 1px dashed #f3f5e5;
    color: #68b931;
}

td {
    border: 1px dashed #f3f5e5;`
}
